.page-head {
  width: 100%;
  margin-top: 0;
  padding: 1rem;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.page-head h1 {
  text-transform: uppercase;
  letter-spacing: 1rem;
  padding: 0;
  font-size: 4vh;
  color: black;
}
.user-profile {
  padding-top: 7rem;
  height: fit-content;
}
.profile-section {
  height: fit-content;
  width: 100%;
  padding: 1rem;
}
.profile-section input {
  color: #212222b7;
}
.trans-cover {
  width: 100%;
  background-color: rgba(211, 211, 211, 0.7);
  border-radius: 5px;
  display: inline-flex;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}
.profile-nav {
  background-color: white;
  height: initial;
  width: 23%;
  border-radius: 5px;
}
.data {
  width: 75%;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-nav div {
  width: 100%;
}

.first-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.first-div hr {
  width: 70%;
  padding: 1px;
  border: none;
  background: rgba(0, 0, 0, 1);
  margin: 0;
}
.first-div img {
  width: 5rem;
  object-fit: cover;
  margin-block: 0.5rem;
}
.name {
  width: 100%;
  color: black;
  font-size: 3vh;
  padding: 0;
}
.second-div ul {
  padding: 2rem;
  list-style-type: none;
  display: inline-block;
  width: 100%;
}
.second-div li:nth-child(2) {
  padding-block: 1rem;
}
.second-div button {
  color: white;
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: #212222b7;
}
.profile-nav div:nth-child(2) {
  width: 100%;
}
.logout-div {
  padding: 1rem;
}
.logout {
  width: 100%;
}
.buttons-div {
  width: 100%;
}
.buttons-div button {
  border: none;
  border-radius: 0;
  outline: none;
}
.buttons-div button:nth-child(1) {
  border-radius: 5px 0px 0px 0px;
}

.line-sep {
  height: 1px;
  border: none;
  background-color: black;
  width: 100%;
  margin: 0;
}
.info-div {
  width: 100%;
  height: fit-content;
  margin: 0;
  display: block;
}
.info {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.part-detail {
  color: black;
  font-weight: bold;
  padding-top: 0.5rem;
}
.action-buttons {
  display: inline-flex;
  padding: 1rem;
  width: 20vw;
}
.action-buttons button {
  width: 50%;
  margin-inline: 0.5rem;
  color: white;
}

.edit-name {
  width: 100%;
}
.name-change {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.name-field {
  display: inline-flex;
}
.name-data {
  margin-inline: 1rem;
  width: 100%;
}
.name-data input {
  border-radius: 5px;
  border: none;
  background: rgba(217, 217, 217, 1);
  outline: none;
  padding-inline: 1rem;
  padding-block: 0.3rem;
  width: 100%;
}
.edit-email {
  padding-top: 1rem;
}
.edit-box {
  border-radius: 5px;
  border: none;
  background: rgba(217, 217, 217, 1);
  outline: none;
  padding-block: 0.3rem;
  padding-inline: 1rem;
  width: 100%;
}

.photo-change {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.photo-cont {
  display: inline-flex;
  justify-content: space-between;
}
.current-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo-sm {
  width: 5rem;
  object-fit: cover;
  margin-block: 0.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.contacts-change {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
